body{
    background-color:rgb(233, 203, 233);
 }
 #score{
    font-size: 30px;
    margin-left: 100px;
 }
 #timer{
    font-size: 30px;
    float:right;
    margin-right: 120px;
 }
 #show_sketch{
    float:right;
    margin-right: 90px;
 }
 #label{
    color: rgb(243, 109, 0);
    font-size: 20px;
    font-weight: 15px;
 }
 h1{
    margin-left: 170px;
 }